@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Pages>
@{
    Layout = null;

}
<!DOCTYPE HTML>
<html>
<head>
    <title>Bluegrass Digital Assessment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
    @await Html.PartialAsync("Partials/Header", Model.HeaderSettings)

    @RenderBody()

    @await Html.PartialAsync("Partials/Footer", Model.FooterSettings)
</body>
</html>