@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HeroComponent>

<div class="heroComponentContainer">
    <div class="heroComponentTitle">
        
    </div>
</div>