@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RteComponent>

@if (!string.IsNullOrEmpty(Model.Content?.ToString()))
{
    <div class="rteComponentContainer">
        @Model.Content
    </div>
}